.wrapper {
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 10px 5px 1px rgb(230, 230, 230);
}

.link {
    display: block;
    padding: 2rem;

    border: 3px var(--main-accent-color) solid;
    border-radius: 5px;

    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: grey;
}